<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ToDo App</title>
</head>
<body>
    <header>
        <div>
            <h1>ToDo</h1>
            <img src="/images/moon-icon.png" alt="ícone da lua">
        </div>

        <form action="">
            <input type="text" id="" placeholder="Criar uma nova tafera" name="novaTarefa">
            <button type="submit">Criar</button>

        </form>
    </header>

    {{{body}}}
</body>
</html>