<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" name="" id="tarefa-1">
                    <label for="tarefa-1">Fazer o Santos ser Campeão</label>
                </div>
                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" name="" id="tarefa-1">
                    <label for="tarefa-1">Fazer o Santos ser Campeão</label>
                </div>
                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" name="" id="tarefa-1">
                    <label for="tarefa-1">Fazer o Santos ser Campeão</label>
                </div>
                <button>
                    <img src="/images/x-icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="informacoes">
            <p>5 Tarefas ativas</p>
            <a href="">Limpar Tarefas</a>
        </div>
    </section>
</main>