*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --bg-header-mobile: url(../images/bg-header-mobile-light.png);
}

header{
    background-image: var(--bg-header-mobile);
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 3rem 1.75rem 0;
}

header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}